/**
* Klasse zum erstellen der Farbschemas (werden auch für Dark-/Light-Mode benöitgt)
* @author Daniel Moucha
*/

@import '~@angular/material/theming';
@include mat-core();

//light-theme
$SchoolPlus-primary: mat-palette($mat-purple, 500);
$SchoolPlus-accent: mat-palette($mat-deep-purple, 200);
$SchoolPlus-warn: mat-palette($mat-red);

$SchoolPlus-theme: mat-light-theme((
  color: (
    primary: $SchoolPlus-primary,
    accent: $SchoolPlus-accent,
    warn: $SchoolPlus-warn,
  )
));

@include angular-material-theme($SchoolPlus-theme);

//dark theme
$SchoolPlus-primary-dark: mat-palette($mat-purple, 500);
$SchoolPlus-accent-dark: mat-palette($mat-deep-purple, 200);
$SchoolPlus-warn-dark: mat-palette($mat-red);

$SchoolPlus-theme-dark: mat-dark-theme((
  color: (
    primary: $SchoolPlus-primary-dark,
    accent: $SchoolPlus-accent-dark,
    warn: $SchoolPlus-warn-dark,
  )
));

.dark-theme-mode {
  @include angular-material-theme($SchoolPlus-theme-dark);
}

