.grid-container {
  margin: 20px;
}

.dashboard-card {

  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.grid-container {
  margin: 20px;
}
.example-container {
  height: 400px;
  overflow: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-spacing: 8px;
}


